# ACM AI Beginner Track
## Worksheet questions for the Data Analytics workshop
This worksheet contains questions to help you improve your familiarity with Python's Numpy and Pandas libraries. 

It's divided into two parts: **section one** for questions to be done during the workshop and **section two** for questions you can work on in your own time after the workshop.

### SECTION 1
Do these questions during the workshop once we tell you to.

In [1]:
import numpy as np
import pandas as pd

#### Question 1
Create a numpy array of shape 3x3 over an interval between 1 and 99.

In [7]:
# Type answer here.

#### Question 2
Create a random numpy array of shape 20x5 and get the difference between the maximum values in the first and last row.

In [16]:
# Type answer here.

#### Question 3
Create two random numpy array of integers of shape 5x1 and perform an elementwise multiplication of the arrays.

In [61]:
# Type answer here.

#### Question 4
Get the array containing the first 5 rows and columns 5 to 8 of the array below.

In [38]:
slice_me_up = np.random.randint(0, 100, 400)
slice_me_up = slice_me_up.reshape(20,20)
# Type answer here.

#### Question 5
Create a Pandas series of 10 numbers with any arbitrary index using a dictionary. Print the first value in the series.

In [53]:
# Type answer here.

#### Question 6
Create a 10x9 Pandas dataframe of random integers using Numpy arrays and add a new column to the dataframe using the series created in the previous question.

In [60]:
# Type answer here.

#### Question 7
Find and permanently drop the row in the DataFrame you made above that has the minimum sum.

In [62]:
# Type answer here.

#### Question 8
From the DataFrame below, get all the values in column 'X' that are greater than 2020.

In [81]:
random_numbers = pd.DataFrame(data = np.random.randint(1900, 2100, 36).reshape(6,6), 
                              index=['A', 'B', 'C', 'D', 'E', 'F'],
                              columns=['U', 'V', 'W', 'X', 'Y', 'Z'])
random_numbers

      U     V     W     X     Y     Z
A  1903  1967  2053  2043  1937  1978
B  1904  1983  1927  2012  2030  2010
C  2061  1969  2078  1959  1998  1932
D  2002  1934  2056  2060  2089  2071
E  1944  1916  1924  2001  1968  2078
F  1970  1928  2078  1973  1951  2088

In [83]:
# Type answer here.

### SECTION 2
Feel free to do these questions after the workshop is over to further build on your Numpy and Pandas skills. Some of these are a bit hard so don't feel demotivated if you can't get them immediately. Don't shy away from venturing outside of the details outlined in the reference document and looking up things online or asking any of the beginner track officers.