In [2]:
# numpy = numerical python

In [3]:
import numpy as np

In [4]:
my_list = [1, 2, 3]

In [5]:
new_list = [i**2 for i in my_list]
new_list

[1, 4, 9]

In [6]:
# array 
np.array([1, 2, 3])

array([1, 2, 3])

In [7]:
np.arange(1, 10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
np.arange(1, 6, 2)

array([1, 3, 5])

In [9]:
# linspace = linearly spaced values 
# linspace(start, stop, num_of_values)
np.linspace(1, 10, num = 15)

array([ 1.        ,  1.64285714,  2.28571429,  2.92857143,  3.57142857,
        4.21428571,  4.85714286,  5.5       ,  6.14285714,  6.78571429,
        7.42857143,  8.07142857,  8.71428571,  9.35714286, 10.        ])

In [10]:
# random arrays

In [11]:
np.random.randint(1, 10)

1

In [12]:
np.random.randint(1, 10, (5, 5))

array([[4, 5, 8, 9, 7],
       [6, 3, 4, 8, 3],
       [4, 3, 9, 5, 9],
       [9, 3, 6, 8, 2],
       [2, 1, 4, 1, 2]])

In [13]:
np.random.rand(10)

array([0.43953816, 0.58174125, 0.17954617, 0.90566337, 0.7838265 ,
       0.96328075, 0.38954497, 0.20100816, 0.96138039, 0.73663145])

In [14]:
# returns something between 0 and 1 
np.random.rand(5, 5)

array([[0.33554716, 0.06336336, 0.67687891, 0.56534047, 0.87550437],
       [0.28218897, 0.12198558, 0.01626912, 0.91727576, 0.26493567],
       [0.35822872, 0.60167119, 0.55507172, 0.00505948, 0.04143298],
       [0.33082325, 0.64327508, 0.81648282, 0.28476431, 0.85303895],
       [0.56496139, 0.7196335 , 0.2458344 , 0.40518238, 0.71949137]])

In [15]:
# random value between 2 and 4 
2 + 2*np.random.rand(1)

array([2.23852017])

In [16]:
# attributes

In [17]:
arr = np.random.randint(1, 10, (4, 5))
arr

array([[9, 3, 2, 9, 9],
       [2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5],
       [6, 3, 3, 8, 8]])

In [18]:
arr.shape

(4, 5)

In [19]:
arr.T

array([[9, 2, 2, 6],
       [3, 1, 6, 3],
       [2, 9, 5, 3],
       [9, 9, 8, 8],
       [9, 4, 5, 8]])

In [20]:
arr.reshape(2, 10)

array([[9, 3, 2, 9, 9, 2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5, 6, 3, 3, 8, 8]])

In [21]:
# access values in an array

In [22]:
arr

array([[9, 3, 2, 9, 9],
       [2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5],
       [6, 3, 3, 8, 8]])

In [23]:
arr[0, 0]

9

In [24]:
arr[0, :]

array([9, 3, 2, 9, 9])

In [25]:
new_arr = arr.copy()
new_arr

array([[9, 3, 2, 9, 9],
       [2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5],
       [6, 3, 3, 8, 8]])

In [26]:
# broadcasting

In [27]:
# double each of the elements of the array
new_arr = 2*arr
new_arr

array([[18,  6,  4, 18, 18],
       [ 4,  2, 18, 18,  8],
       [ 4, 12, 10, 16, 10],
       [12,  6,  6, 16, 16]])

In [28]:
arr

array([[9, 3, 2, 9, 9],
       [2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5],
       [6, 3, 3, 8, 8]])

In [29]:
arr > 5

array([[ True, False, False,  True,  True],
       [False, False,  True,  True, False],
       [False,  True, False,  True, False],
       [ True, False, False,  True,  True]])

In [30]:
arr[arr > 5]

array([9, 9, 9, 9, 9, 6, 8, 6, 8, 8])

In [31]:
# math functions

In [32]:
arr

array([[9, 3, 2, 9, 9],
       [2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5],
       [6, 3, 3, 8, 8]])

In [33]:
new_arr = np.exp(arr)
new_arr

array([[8.10308393e+03, 2.00855369e+01, 7.38905610e+00, 8.10308393e+03,
        8.10308393e+03],
       [7.38905610e+00, 2.71828183e+00, 8.10308393e+03, 8.10308393e+03,
        5.45981500e+01],
       [7.38905610e+00, 4.03428793e+02, 1.48413159e+02, 2.98095799e+03,
        1.48413159e+02],
       [4.03428793e+02, 2.00855369e+01, 2.00855369e+01, 2.98095799e+03,
        2.98095799e+03]])

In [34]:
new_arr = np.sin(arr) 
new_arr

array([[ 0.41211849,  0.14112001,  0.90929743,  0.41211849,  0.41211849],
       [ 0.90929743,  0.84147098,  0.41211849,  0.41211849, -0.7568025 ],
       [ 0.90929743, -0.2794155 , -0.95892427,  0.98935825, -0.95892427],
       [-0.2794155 ,  0.14112001,  0.14112001,  0.98935825,  0.98935825]])

In [35]:
arr

array([[9, 3, 2, 9, 9],
       [2, 1, 9, 9, 4],
       [2, 6, 5, 8, 5],
       [6, 3, 3, 8, 8]])

In [36]:
np.mean(arr)

5.55

In [37]:
tensor = np.random.rand(2, 3, 4)
tensor

array([[[9.07709421e-01, 8.62813648e-01, 2.94543507e-01, 4.40360551e-02],
        [6.75895703e-01, 3.39369895e-01, 4.91024126e-01, 8.83613965e-03],
        [4.05832490e-01, 5.38282979e-01, 6.26429588e-01, 3.76903921e-01]],

       [[8.59580633e-01, 4.49906246e-01, 8.22747590e-01, 8.03961598e-01],
        [2.09201006e-01, 3.98141907e-02, 2.37227744e-01, 6.12747479e-01],
        [8.65933805e-01, 6.88060733e-01, 1.36404308e-01, 6.82277849e-04]]])

In [38]:
# axis = 0, 1 , 2

In [39]:
np.mean(arr, axis = 1)   # std, max, min,

array([6.4, 5. , 5.2, 5.6])

![image.png]()

In [40]:
# softmax using only python

def softmax(z):

  expz  = [2.718**i for i in z]

  s = sum(expz) 

  output = []
  for i in expz: 
    output.append(i/s) 
  
  return output

In [41]:
softmax([3, 4, 1, 2])

[0.23689491766859275,
 0.6438803862232351,
 0.032066889754753115,
 0.08715780635341897]

In [42]:
# softmax using np

def softmax(z): 

  expz = np.exp(z) 

  s = np.sum(expz) 

  output = expz/s   # use broadcasting 

  return output

In [43]:
def softmax(z): 
  return np.exp(z)/np.sum(np.exp(z))

In [44]:
z = [3, 4, 1, 2]

softmax(np.array(z))

array([0.23688282, 0.64391426, 0.0320586 , 0.08714432])

In [45]:
import pandas as pd

In [46]:
some_series = pd.Series(data=[1,2,3,4, 5], index=['A', 'B', 'C', 'D', 'E'])
some_series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [47]:
some_series['A']

1

In [48]:
another_series = pd.Series(data=[10, 20, 30, 40, 50], index=['A', 'B', 'C', 'D', 'E'])
another_series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [49]:
another_series + some_series

A    11
B    22
C    33
D    44
E    55
dtype: int64

In [50]:
np_array = np.random.randint(0,99, 100).reshape(10,10)
df = pd.DataFrame(data=np_array, 
                  index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], 
                  columns=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
df

    a   b   c   d   e   f   g   h   i   j
A  65   3  51  54  65  43  93  18  94  51
B  13  55  18  19   9  46  14  81  42  95
C   8  55  20   9   1  88  38  93  14   3
D  48  35  21  12  22  92  22  63  49  19
E  67  48  48  47  65  22  48  93  24  85
F  81   6  89  78  88  10  20   7  47  39
G  49  74   8  40  59  69   7  89  78   6
H  83  56  47  83   8  43  72   9  38  90
I  23  96  91  89  88  16   4  55  63  49
J  66   1  98  33  11   4  15  89  83  75

In [51]:
df['a']

A    65
B    13
C     8
D    48
E    67
F    81
G    49
H    83
I    23
J    66
Name: a, dtype: int64

In [52]:
type(df['a'])

pandas.core.series.Series

In [53]:
df.loc['A']

a    65
b     3
c    51
d    54
e    65
f    43
g    93
h    18
i    94
j    51
Name: A, dtype: int64

In [54]:
df.iloc[0]

a    65
b     3
c    51
d    54
e    65
f    43
g    93
h    18
i    94
j    51
Name: A, dtype: int64

In [55]:
df['z'] = pd.Series(data=np.random.randint(100,999,10), index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])
df

    a   b   c   d   e   f   g   h   i   j    z
A  65   3  51  54  65  43  93  18  94  51  728
B  13  55  18  19   9  46  14  81  42  95  553
C   8  55  20   9   1  88  38  93  14   3  480
D  48  35  21  12  22  92  22  63  49  19  854
E  67  48  48  47  65  22  48  93  24  85  330
F  81   6  89  78  88  10  20   7  47  39  907
G  49  74   8  40  59  69   7  89  78   6  107
H  83  56  47  83   8  43  72   9  38  90  611
I  23  96  91  89  88  16   4  55  63  49  189
J  66   1  98  33  11   4  15  89  83  75  542

In [56]:
new_row = pd.Series(data=np.random.randint(100,999,11), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'z'], name='Z')
df.append(new_row)

     a    b    c    d    e    f    g    h    i    j    z
A   65    3   51   54   65   43   93   18   94   51  728
B   13   55   18   19    9   46   14   81   42   95  553
C    8   55   20    9    1   88   38   93   14    3  480
D   48   35   21   12   22   92   22   63   49   19  854
E   67   48   48   47   65   22   48   93   24   85  330
F   81    6   89   78   88   10   20    7   47   39  907
G   49   74    8   40   59   69    7   89   78    6  107
H   83   56   47   83    8   43   72    9   38   90  611
I   23   96   91   89   88   16    4   55   63   49  189
J   66    1   98   33   11    4   15   89   83   75  542
Z  391  889  983  244  264  228  718  567  603  328  533

In [57]:
df.drop('A', inplace=True)

In [58]:
df

    a   b   c   d   e   f   g   h   i   j    z
B  13  55  18  19   9  46  14  81  42  95  553
C   8  55  20   9   1  88  38  93  14   3  480
D  48  35  21  12  22  92  22  63  49  19  854
E  67  48  48  47  65  22  48  93  24  85  330
F  81   6  89  78  88  10  20   7  47  39  907
G  49  74   8  40  59  69   7  89  78   6  107
H  83  56  47  83   8  43  72   9  38  90  611
I  23  96  91  89  88  16   4  55  63  49  189
J  66   1  98  33  11   4  15  89  83  75  542

In [59]:
df.drop('b', axis=1, inplace=True)

In [60]:
df

    a   c   d   e   f   g   h   i   j    z
B  13  18  19   9  46  14  81  42  95  553
C   8  20   9   1  88  38  93  14   3  480
D  48  21  12  22  92  22  63  49  19  854
E  67  48  47  65  22  48  93  24  85  330
F  81  89  78  88  10  20   7  47  39  907
G  49   8  40  59  69   7  89  78   6  107
H  83  47  83   8  43  72   9  38  90  611
I  23  91  89  88  16   4  55  63  49  189
J  66  98  33  11   4  15  89  83  75  542

In [61]:
df > 50

       a      c      d      e      f      g      h      i      j     z
B  False  False  False  False  False  False   True  False   True  True
C  False  False  False  False   True  False   True  False  False  True
D  False  False  False  False   True  False   True  False  False  True
E   True  False  False   True  False  False   True  False   True  True
F   True   True   True   True  False  False  False  False  False  True
G  False  False  False   True   True  False   True   True  False  True
H   True  False   True  False  False   True  False  False   True  True
I  False   True   True   True  False  False   True   True  False  True
J   True   True  False  False  False  False   True   True   True  True

In [62]:
df[df>50]

      a     c     d     e     f     g     h     i     j    z
B   NaN   NaN   NaN   NaN   NaN   NaN  81.0   NaN  95.0  553
C   NaN   NaN   NaN   NaN  88.0   NaN  93.0   NaN   NaN  480
D   NaN   NaN   NaN   NaN  92.0   NaN  63.0   NaN   NaN  854
E  67.0   NaN   NaN  65.0   NaN   NaN  93.0   NaN  85.0  330
F  81.0  89.0  78.0  88.0   NaN   NaN   NaN   NaN   NaN  907
G   NaN   NaN   NaN  59.0  69.0   NaN  89.0  78.0   NaN  107
H  83.0   NaN  83.0   NaN   NaN  72.0   NaN   NaN  90.0  611
I   NaN  91.0  89.0  88.0   NaN   NaN  55.0  63.0   NaN  189
J  66.0  98.0   NaN   NaN   NaN   NaN  89.0  83.0  75.0  542

In [63]:
df[df > 50].fillna('hello')

       a      c      d      e      f      g      h      i      j    z
B  hello  hello  hello  hello  hello  hello     81  hello     95  553
C  hello  hello  hello  hello     88  hello     93  hello  hello  480
D  hello  hello  hello  hello     92  hello     63  hello  hello  854
E     67  hello  hello     65  hello  hello     93  hello     85  330
F     81     89     78     88  hello  hello  hello  hello  hello  907
G  hello  hello  hello     59     69  hello     89     78  hello  107
H     83  hello     83  hello  hello     72  hello  hello     90  611
I  hello     91     89     88  hello  hello     55     63  hello  189
J     66     98  hello  hello  hello  hello     89     83     75  542

In [64]:
students = pd.read_csv("https://raw.githubusercontent.com/uclaacmai/beginner-track-fall-2020/main/Workshop_6/Beginner%20Track%20-%20Student%20Performance%20Dataset.csv")

In [65]:
students.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [66]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [67]:
students[students['gender'] == "male"]['gender'].count()

482

In [68]:
students['math score'].sum()/students['math score'].count()

66.089

In [69]:
students['race/ethnicity'].nunique()

5

In [70]:
students_by_ethnicity = students.groupby('race/ethnicity')

In [71]:
students_by_ethnicity

In [72]:
students_by_ethnicity.mean()

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

In [73]:
students_by_ethnicity['lunch'].value_counts()

race/ethnicity  lunch
group A         standard         53
                free/reduced     36
group B         standard        121
                free/reduced     69
group C         standard        205
                free/reduced    114
group D         standard        167
                free/reduced     95
group E         standard         99
                free/reduced     41
Name: lunch, dtype: int64

In [74]:
students['writing score'].min()

10

In [75]:
students['writing score'].max()

100

In [76]:
# How many students who had standard lunches and were female and got more than a 60 in their reading scores?
students[(students['gender'] == "female") & (students['lunch'] == "standard") & (students['reading score'] > 60)]['reading score'].count()

292

In [77]:
sals = pd.read_csv("https://raw.githubusercontent.com/uclaacmai/beginner-track-fall-2020/main/Workshop_6/Beginner%20Track%20-%20Salaries.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [78]:
sals.head()

   Id       EmployeeName  ...         Agency Status
0   1     NATHANIEL FORD  ...  San Francisco    NaN
1   2       GARY JIMENEZ  ...  San Francisco    NaN
2   3     ALBERT PARDINI  ...  San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4   5    PATRICK GARDNER  ...  San Francisco    NaN

[5 rows x 13 columns]

In [79]:
sals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [80]:
sals.drop("Notes", axis=1, inplace=True)

In [81]:
sals

            Id       EmployeeName  ...         Agency Status
0            1     NATHANIEL FORD  ...  San Francisco    NaN
1            2       GARY JIMENEZ  ...  San Francisco    NaN
2            3     ALBERT PARDINI  ...  San Francisco    NaN
3            4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4            5    PATRICK GARDNER  ...  San Francisco    NaN
...        ...                ...  ...            ...    ...
148649  148650      Roy I Tillery  ...  San Francisco     PT
148650  148651       Not provided  ...  San Francisco    NaN
148651  148652       Not provided  ...  San Francisco    NaN
148652  148653       Not provided  ...  San Francisco    NaN
148653  148654          Joe Lopez  ...  San Francisco     PT

[148654 rows x 12 columns]

In [82]:
# Who is the highest paid?
sals[sals['TotalPayBenefits'] == sals['TotalPayBenefits'].max()]

   Id    EmployeeName  ...         Agency Status
0   1  NATHANIEL FORD  ...  San Francisco    NaN

[1 rows x 12 columns]

In [83]:
# What are the 5 most common jobs?
sals['JobTitle'].value_counts()[0:10]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

In [84]:
# How many people have the words "Captain" in their title?
def find_cap(title):
  return "Captain" in title

sals['JobTitle'].apply(find_cap).sum()

411

In [85]:
 sals['JobTitle'].apply(lambda title: "Captain" in title).sum()

411